<!DOCTYPE html>
<html>
  <head>
    <title>Cifrado</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <br>
        <div class="card">
          <h5 class="card-header">Desplazamiento Python</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-1">
                <label for="text">Texto:</label>
              </div>
              <div class="col-sm-4">
                <textarea class="form-control" id="text" name="text" rows="5" cols="80"></textarea>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-3">
                    <label for="displacement">Desplazamiento:</label>
                  </div>
                  <div class="col-sm-7">
                    <input class="form-control" id="displacement" type="number" name="displacement" value="0">
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-sm-3">
                    <label for="groups">Grupos:</label>
                  </div>
                  <div class="col-sm-7">
                    <input class="form-control" id="groups" type="number" name="groups" value="0">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <table class="table table-bordered">
                <thead>
                  <th>Cifrado C&eacute;sar</th>
                  <th>Texto Invertido</th>
                  <th>Texto Grupos</th>
                </thead>
                <tbody>
                  <td>
                    <pre id="encryption-text"></pre>
                  </td>
                  <td>
                    <pre id="invert-text"></pre>
                  </td>
                  <td>
                    <pre id="groups-text"></pre>
                  </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
